[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/HarisJafri-xcode/Data-Analyst-in-Python/blob/main/01_Core_Python/02_Built_in_Datatypes_%26_Typecasting_Functions.ipynb)

# What are Built-in Data Types ?

A built-in datatype in Python is a data type that is pre-defined and readily available within the language itself, without needing to import any external libraries.

We are going to discuss enough to get ourselves ready for Python.

Our aim in this Notebook is only recognise a Built-in Data Type when we see it.

## Numeric Datatypes

In [13]:
print(5) # Integer
print(5.0) # Float

5
5.0

## Boolean Datatype

In [14]:
print(True) # Boolean
print(False) # Boolean

True
False

## Sequence Data Types

In [15]:
print("Hello") # string

Hello

In [16]:
print([1,2,3,'a','b','c']) # list # ordered # mutable

[1, 2, 3, 'a', 'b', 'c']

In [17]:
print((10, 20, 30, 15.50)) # tuple # ordered # immutable

(10, 20, 30, 15.5)

In [18]:
print({1,1,2,3,5}) # Set # unordered # mutable

{1, 2, 3, 5}

## Mapping Data Type

In [19]:
print({"name": "Ali", "age": 25, "weight(kg)":61}) # dictionary

{'name': 'Ali', 'age': 25, 'weight(kg)': 61}

# Type Conversion Functions

In Python, a type conversion function is a built-in function that changes a value from one data type into another.

This process is also known as Type Casting.

These functions are named after the data type you want to convert to. You pass the original value to the function, and it returns a new value of the target type.

## Integer Conversion

In [20]:
x = 5  # Integer datatype stored inside variable x
print(float(x))     # int → float

5.0

In [21]:
x = 5  # Integer datatype stored inside variable x
print(str(x))       # int → str

5

In [22]:
x = 5  # Integer datatype stored inside variable x
print(bool(x))      # int → bool

True

In [23]:
x = 0  # Integer datatype stored inside variable x
print(bool(x))      # int → bool

False

Integer Data type can not be converted into List, Tuple, Dictionary or Set.

## Float Conversion

In [24]:
x = 3.14  # Float datatype stored inside variable x
print(int(x))       # float → int (decimal part truncated)

3

In [25]:
x = 3.14  # Float datatype stored inside variable x
print(str(x))       # float → str

3.14

In [26]:
x = 3.14  # Float datatype stored inside variable x
print(bool(x))      # float → bool

True

In [27]:
x = 0.0  # Float datatype stored inside variable x
print(bool(x))      # float → bool

False

Float Data type can not be converted into List, Tuple, Dictionary or Set.

## String Conversion

In [28]:
x = "123"  # String datatype stored inside variable x
print(int(x))       # str → int (only works if string is numeric)
print(float(x))     # str → float (only works if string is numeric)

123
123.0

In [29]:
x = "Hello"  # String datatype stored inside variable x
print(bool(x))      # str → bool (False only if string is empty)

True

In [30]:
x = ""  # String datatype stored inside variable x
print(bool(x))      # str → bool (False only if string is empty)

False

In [31]:
x = "Python"  # String datatype stored inside variable x
print(list(x))       # str → list of characters
print(tuple(x))      # str → tuple of characters
print(set(x))        # str → set of unique characters

['P', 'y', 't', 'h', 'o', 'n']
('P', 'y', 't', 'h', 'o', 'n')
{'y', 't', 'h', 'n', 'P', 'o'}

String Datatype can not be converted to Dictionary.

## Boolean Conversion

In [32]:
x = True  # Boolean datatype stored inside variable x
print(int(x))       # bool → int (True → 1, False → 0)
print(float(x))     # bool → float (True → 1.0, False → 0.0)

1
1.0

In [33]:
x = False  # Boolean datatype stored inside variable x
print(int(x))       # bool → int (True → 1, False → 0)
print(float(x))     # bool → float (True → 1.0, False → 0.0)

0
0.0

In [34]:
x = True  # Boolean datatype stored inside variable x
print(str(x))       # bool → str ('True' or 'False')

True

In [35]:
x = False  # Boolean datatype stored inside variable x
print(str(x))       # bool → str ('True' or 'False')

False

Boolean can not be converted into List, Tuple, Set or Dictionary.

## List Conversion

In [36]:
x = [1, 2, 3]  # List datatype stored inside variable x
print(str(x))       # list → str
print(bool(x))      # list → bool (False only if list is empty)

[1, 2, 3]
True

In [37]:
x = [1, 2, 3]  # List datatype stored inside variable x
print(tuple(x))     # list → tuple
print(set(x))       # list → set

(1, 2, 3)
{1, 2, 3}

In [38]:
x = [['a', 1], ['b', 2]]  # List containing key-value pairs
print(dict(x))     # list → dict (works only if elements are key-value pairs)

{'a': 1, 'b': 2}

List Datatype can not be converted into Integer or Float.

## Tuple Conversion

In [39]:
x = (1, 2, 3)  # Tuple datatype stored inside variable x
print(list(x))     # tuple → list
print(set(x))      # tuple → set

[1, 2, 3]
{1, 2, 3}

In [40]:
x = (1, 2, 3)  # Tuple datatype stored inside variable x
print(str(x))       # tuple → str
print(bool(x))      # tuple → bool (False only if tuple is empty)

(1, 2, 3)
True

In [41]:
x = (('a',1), ('b',2))  # Tuple containing key-value pairs
print(dict(x))     # tuple → dict (works only if elements are key-value pairs)

{'a': 1, 'b': 2}

Tuple can not be converted into Integer or Float.

## Set Conversion

In [42]:
x = {1, 2, 3}  # Set datatype stored inside variable x
print(list(x))     # set → list
print(tuple(x))    # set → tuple

[1, 2, 3]
(1, 2, 3)

In [43]:
x = {1, 2, 3}  # Set datatype stored inside variable x
print(str(x))       # set → str
print(bool(x))      # set → bool (False only if set is empty)

{1, 2, 3}
True

Set can not be converted into integer, float or dictionary.

## Dictionary Conversion

In [44]:
x = {'a': 1, 'b': 2}  # Dictionary datatype stored inside variable x
print(list(x))     # dict → list (keys only)
print(tuple(x))    # dict → tuple (keys only)
print(set(x))      # dict → set (keys only)

['a', 'b']
('a', 'b')
{'b', 'a'}

In [45]:
x = {'a': 1, 'b': 2}  # Dictionary datatype stored inside variable x
print(str(x))       # dict → str
print(bool(x))      # dict → bool (False only if dict is empty)

{'a': 1, 'b': 2}
True

Dictionary can not converted into Integer or Float.

# type() Function

The type() function is used to find out the data type of a value or variable in Python. It helps you understand what kind of data you’re working with — whether it’s an integer, float, string, list, or something else.

In [46]:
mystery_1 = 'True'
mystery_2 = True

In [47]:
print(type(mystery_1))
print(type(mystery_2))

<class 'str'>
<class 'bool'>

In [48]:
number_1 = 3
number_2 = '3'

In [49]:
print(type(number_1))
print(type(number_2))

<class 'int'>
<class 'str'>

# range() Function

In Python, range is a built-in data type that represents an immutable sequence of numbers, and range() is the function used to create that sequence.

The Syntax of range() Function is as follows:

range(start, stop, step)

The Resultant Data Type is called Range Data Type which is immutable and efficient and can be used to create List, Tuple and Sets.

In [50]:
range_1 = range(10) # Start from 0 and Stop before 10
range_2 = range(1,10) # Start from 1 and Stop before 10
range_3 = range(1,10,3) # Start from 1 and Stop before 10 and Stepsize is 3

In [51]:
list_1 = list(range_1)
tuple_2 = tuple(range_2)
set_3 = set(range_3)

print(list_1)
print(tuple_2)
print(set_3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(1, 2, 3, 4, 5, 6, 7, 8, 9)
{1, 4, 7}

In [52]:
range_1 = range(5)
print(type(range_1))

<class 'range'>

# len() Function

len() returns the number of items inside a collection.

In [53]:
print(len('Haris'))
print(len('  '))
print(len(''))

5
2
0

In [54]:
print(len(['Haris',1,2.5]))

3

In [55]:
print(len((7.57,'Good')))

2

In [56]:
print(len({1,2,3,4,5}))

5

In [57]:
print(len({'name':'Haris','age':35})) # Counts total number of Keys

2

len() does not work with Integer or Float or Boolean.