[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/HarisJafri-xcode/Data-Analyst-in-Python/blob/main/01_Core_Python/05_Loops.ipynb)

# Loops

In Python, loops are used to repeat a block of code multiple times until a certain condition is met. They help automate repetitive tasks and make programs more efficient.

Python provides two main types of loops.

1. while Loop - used to repeat code as long as a condition remains True.

2. for Loop - used to iterate over a sequence (like a list, tuple, string, or range).

Loops make it easy to perform actions such as processing each item in a list, counting numbers, or checking conditions repeatedly without writing the same code again and again.

# while Loop

while Loop is especially useful when the number of repetitions is not known in advance.

In the example below, the loop prints numbers from 1 to 5. Once count becomes 6, the condition count <= 5 is False, and the loop ends.

In [ ]:
count = 1

while count <= 5:
    print(count)
    count = count + 1

print('Program Finished')

1
2
3
4
5
Program Finished

Let us write a Program that counts down from 10 to 0, but stops (breaks) when the number reaches 5.

In [ ]:
count = 10

while count>=0:
    if count==5:
        break
    print(count)
    count = count - 1

print("Program Finished")

10
9
8
7
6
Program Finished

Let us write a Program that counts down from 10 to 0, but stops (breaks) when the number reaches 5 and also skips printing number 7.

In [ ]:
count = 10

while count>=0:
    if count==5:
        break
    if count==7:
        count = count - 1
        continue
    print(count)
    count = count - 1

print("Program Finished")

10
9
8
6
Program Finished

Let us write a Python program using a while loop to calculate the sum of numbers from 3 down to 1.

In [ ]:
s = 0
x = 3

while x>0:
    s = s + x
    x = x - 1

print(s)

6

# for Loop

for Loop is very usefull when the number of repetitions is known in advance.

Let us write a for loop to iterate over the following list and print each fruit name:
fruits = ["apple", "banana", "mango", "orange"]

In [ ]:
fruits = ["apple", "banana", "mango", "orange"]

for fruit in fruits:
    print(fruit)

apple
banana
mango
orange

Let us loop through the string "Programming" and print only the vowels. Then repeat the loop using range(len(string)).

In [ ]:
main_word = 'Programming'
vowels = 'aeiouAEIOU'

# Method 1
print('Method 1')
for character in main_word:
    if character in vowels:
        print(character)

# Method 2
print('------------')
print('Method 2')
for i in range(len(main_word)):
    if main_word[i] in vowels:
        print(main_word[i])

Method 1
o
a
i
------------
Method 2
o
a
i

Let us loop over the following tuple and print every car brand:
cars = ("Toyota", "Honda", "BMW", "Audi")

In [ ]:
cars = ("Toyota", "Honda", "BMW", "Audi")

for car in cars:
    print(car)

Toyota
Honda
BMW
Audi

Let us write a Loop to print all Keys of a Dictionary and another Loop to Keys and Values.

In [ ]:
student = {'name':'Ali',
           'age':17,
           'city':'Lahore',
           'interest':['Cricket','Data Science','Cooking']}

# Keys Only
print('Keys Only')
for key in student:
    print(key)

# Keys and Values
print('-------')
print('Keys and Values')
for key, value in student.items():
    print(key, ':', value)

Keys Only
name
age
city
interest
-------
Keys and Values
name : Ali
age : 17
city : Lahore
interest : ['Cricket', 'Data Science', 'Cooking']

For the same dictionary above, write a Loop that prints all Interests seperately !

In [ ]:
for keys in student:
    if keys == 'interest':
        for interest in student[keys]:
            print(interest)

Cricket
Data Science
Cooking

Let us iterate through a Set and since Sets are unordered. We can easily realize that order of print is changing.

In [ ]:
languages = {'Python', 'C++', 'Java', 'JavaScript', 'Go'}

for language in languages:
        print(language)

C++
JavaScript
Python
Go
Java

Write a nested loop that prints all values from this dictionary if the key "hobbies" exists:

info = {
    "name": "Sara",
    "age": 22,
    "hobbies": ["Reading", "Painting", "Cycling"]
}

In [ ]:
info = { "name": "Sara", "age": 22, "hobbies": ["Reading", "Painting", "Cycling"] }

for key in info:
    if key == 'hobbies':
        for hobby in info[key]:
            print(hobby)

Reading
Painting
Cycling

Write a Python program using a for loop and the range() function to calculate the sum of all even numbers between 1 and 50 (inclusive) except 22.

In [ ]:
sum = 0

for i in range(1,51):
    if i%2 == 0:
        if i == 22:
            continue
        sum = sum + i

print(sum)

628